<div class="input_container">
    <div class="input_title">
        <h1></h1>
    </div>
    <div class="container_inputs">
        <input type="text" name="" id="">
        <select name="" id="">
            <option value="" selected disabled></option>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
        </select>
    
        <select name="" id="">
            <option value="" selected disabled></option>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
        </select>
        <button id="start_chat"></button>
    </div>
</div>