/* Chat Container */
    .chat_container{
        width: 70%;
        height: 80vh;
        margin:5vh 0 0 15%;
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
/* Chat Header */
    .chat_header{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    .chat_header_text{
        margin:0;
        width: 16%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
    }
    .open_menu{
        width: 10%;
        height: 8vh;
        font-size: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* Chat Content */
    .chat_content{
        width: 100%;
        height: 72vh;
        overflow-y: scroll;
        padding-right: 27px; /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
    }

/* User Messages */

    .partner_message{
        margin-top:2vh;
        max-width: 50%;
        min-height: 4vh;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 3%;
        padding-right: 2%;
    }
    .partner_message p{
        background-color: #974DFF;
        padding: 2%;
        border-radius: 15px;
        width: auto;
        height: auto;
        color: hsl(0, 0%, 91%);
        cursor: pointer;
    }

/*  Partner Message */
    .user_message{
        margin-top:2vh;
        width: 50%;
        min-height: 4vh;
        height: auto;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-left: 5%;
        margin-left: 45%;
    }
    .user_message p{
        background-color: #F0F3F9;
        padding: 2%;
        border-radius: 15px;
        width: auto;
        height: auto;
        color: black;
        cursor: pointer;
    }

/* Send Input / BUTTONS */
    .chat_buttons_container{
        width: 70%;
        height: 10vh;
        margin:2vh 0 0 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close_stop_buttons{
        width: 15%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .next, .stop{
        background-color: white;
        font-size: 35px;
        width: 48%;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .next img, .stop img{
        width: 60%;
        height: auto;
    }

    /* Chat input */
    .chat_input_container{
        width: 70%;
        height: inherit;
        position: relative;
    }
    .chat_input_container textarea{
        width: 83%;
        height: 8.3vh;
    }
    .chat_input_container img{
        position: absolute;
        right:5%;
        height: 6vh;
        top:2vh;
        cursor: pointer;
    }
    #main_input{
        font-size: 24px;
        outline:0;
        padding:1.2vh 15% 0 2%;
        resize: none;
    }
    /* Send Button */
    .send_button{
        width: 12%;
        height: inherit;
        background-color: #974DFF;
        border: 0;
        outline: 0;
    }
    .send_button img{
        width: 50%;
        height: auto;
    }

/* Menu */
    .menu{
        position: absolute;
        background-color: black;
        width: 25%;
        height: 50%;
        top:20vh;
        left:37.5%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: none;
    }
    .menu input,select,button{
        width: 65%;
        height: 5vh;
        border-radius: 15px;
        border:0;
        outline: 0;
        padding:0 2% 0 2%;
    }
    .menu input{
        width: 61%;
    }
    .menu button{
        width: 30%;
        background-color: #974DFF;
    }
    .b-background{
        display: none;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: gray;
        opacity: 0.7;
        z-index: 1;
    }
    #close_menu{
        position: absolute;
        top:1vh;
        right:5%;
        color: white;
        font-size: 1vw;
    }